.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.homeBanner {
  width: 100%;
  height: 1006px;
  background: #361c7a;
}
