.main {
  width: 100%;
  display: flex;
}
.left {
  width: 55%;
  height: 800px;
  padding-block-start: 280px;
  position: relative;
}

.right {
  width: 45%;
  height: 800px;
  padding-block-start: 48px;
}

.form,
.form form {
  display: flex;
  flex-flow: column wrap;
}

.form h1 {
  color: #361c7a;
  font-size: 32px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 23px;
}
.send button h3 {
  color: #000;
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
  margin-right: 8px;
  cursor: pointer;
}
.send button svg {
  cursor: pointer;
}
.form {
  align-content: center;
  padding-block-start: 20px;
}
.form form {
  display: flex;
  flex-flow: column wrap;
  row-gap: 10px;
}
.form form input,
.form form textarea {
  width: 383px;
  border: none;
  border-radius: 16px;
  padding-inline-start: 20px;
  color: #8f8f8f;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  outline: none;
  background: #f0f0f0;
  padding-block: 8px;
}

.form form textarea {
  height: 138px;
  resize: none;
  padding-block: 8px;
}

.send {
  display: flex;
  justify-content: flex-end;
}
.send button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: white;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-inline-end: 30px;
  padding-block-start: 48px;
  row-gap: 20px;
}
.info {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  right: -560px;
}

.image {
  width: 693px;
  height: 258px;
  background-image: url("../../../../public/contact/contactImage.png");
  background-position: 50% 45%;
  background-size: cover;
}

.direccion {
  display: flex;
  flex-wrap: wrap;
  column-gap: 17px;
}
.text p svg {
  margin-inline-start: 16px;
}

@media screen and (max-width: 1600px) {
  .left {
    width: 900px;
  }
  .right {
    width: 822px;
  }
}

@media screen and (max-width: 1400px) {
  .left {
    width: 700px;
  }
  .right {
    width: 722px;
  }
}

@media screen and (max-width: 1250px) {
  .left {
    width: 600px;
  }
  .right {
    width: 642px;
  }
  .image {
    width: 593px;
  }
  .info {
    right: -460px !important;
  }
}
@media screen and (max-width: 1180px) {
  .left {
    width: 548px;
  }
  .right {
    width: 622px;
  }
  .info {
    right: -420px !important;
  }
  .image {
    width: 493px;
  }
  .text {
    padding-block-start: 38px;
  }
}
@media screen and (max-width: 1000px) {
  .left {
    width: 500px;
  }
  .right {
    width: 500px;
  }
  .info {
    right: -400px !important;
  }
  .image {
    width: 493px;
  }
}
@media screen and (max-width: 850px) {
  .left {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    position: static;
    padding-block-start: 80px;
  }
  .right {
    width: 100%;
    height: 600px;
    margin-inline: auto;
  }
  .image {
    width: 444px;
  }
  .main {
    flex-direction: column;
  }
  .info {
    padding-inline-start: 62px;
    position: static;
  }
}

@media screen and (max-width: 830px) {
  .left {
    align-items: center;
  }
  .info {
    padding-inline: 0px;
    flex-direction: column;
    justify-content: flex-end;
  }
  .image {
    width: 444px;
    margin-block-start: 20px;
    padding-inline-end: 20px;
  }
  .form form input,
  .form form textarea,
  .image,
  .info {
    width: 444px;
  }
  .text {
    justify-content: flex-end;
    padding-inline: 0px;
  }
}
@media screen and (max-width: 600px) {
  .right {
    width: 100%;
  }
  .image,
  .form form input,
  .form form textarea {
    width: 444px;
  }
}
@media screen and (max-width: 500px) {
  .image,
  .text {
    width: 350px;
  }
  .form form input,
  .form form textarea {
    width: 350px;
  }
  .info {
    align-items: center;
  }
}
@media screen and (max-width: 360px) {
  .image,
  .text {
    width: 300px;
  }
  .form form input,
  .form form textarea {
    width: 300px;
  }
  .text {
    padding-inline-end: 8px;
  }
}
